[2017-04-03 08:22] neilsb opened #2 "Plugin affects navigation in Nativescript with Angular app after installation (Android)"
After installing the nativescript-nfc angular plugin navigation stopped working after the back button was pressed on an android device.

Both **[nsRouterLink]** in the html or **routerExtensions.navigate()** in typescript fail to produce navigation or an error message.

Can be reproduced simply by creating a new app from the template and installing teh nativescript-nfc plugin.

    tns create test

[2017-04-04 16:42] EddyVerbruggen commented on #2
Hi,

I created the app according to your instructions and added the plugin. Then ran `tns run ios` and navigated back and forth.. doesn't break. Do I need to do anything else to reproduce it? Like importing the plugin for instance?

[2017-04-05 07:19] neilsb commented on #2
I've not tested on ios yet, but should be able to do that this evening and let you know, but I can reproduce it on android.

Simply adding the plugin is enough to cause the error, and as I result I suspect that the problem is to do with hooking into the Android Activities and Intents, since that part exectuted on application startup as soon as the plugin has been added to the project.

[2017-04-05 07:32] EddyVerbruggen commented on #2
I can imagine that being true, but I just tried the same on Android 7 and there's no problem there either. So maybe I'm missing a step. Are you sure I don't need to require/import the plugin?

[2017-04-05 07:44] neilsb commented on #2
Hi,

Myself and my colleague both experienced the same problem on both the android emulator and android devices (versions 4, 6 and 7).  Let me try ios later on and I'll spin up a new VM and re-check on Android with a clean install and I'll get back to you.

[2017-04-07 08:29] neilsb commented on #2
I can confirm the issue does not show itself when running in the iPhone simulator.

On a Windows 10, with a fresh install following the Nativescript documentation the issue can be reproduced when running on the android emulator or a connected android device however.

Edit:  Just tested on the Android Emulator on OS X and the error is reproducable on that also.

[2017-04-07 18:32] EddyVerbruggen commented on #2
Let me run it on Android this weekend and get back to you. Thanks for your tests!

[2017-04-10 09:09] #2 closed, assigned to EddyVerbruggen

[2017-06-05 22:04] EddyVerbruggen opened #4 "Add iOS support"
Available on iOS 11, on an iPhone 7 (Plus): https://twitter.com/eddyverbruggen/status/871844669956784129

[2017-06-22 04:39] sublimator commented on #4
How did you go with this ?

[2017-06-22 05:19] EddyVerbruggen commented on #4
Waiting for the next iOS 11 beta because I need to use the wife's iPhone 7 for this and I don't want to brick her primary phone with the seemingly unstable first beta.

[2017-06-22 05:52] sublimator commented on #4
Fair enough :)

I just tried a hello world NS app but had some issues with livesync etc. It
did a full rebuild on save and then complained about an app with the same
name already installed.

[2017-06-23 08:21] sublimator commented on #4
Beta 2 is out by the way :)  I just saw
http://adcdownload.apple.com/Developer_Tools/Xcode_9_beta_2/Release_Notes_for_Xcode_9_beta_2.pdf

[2017-08-03 19:00] EddyVerbruggen commented on #4
I've got the basics working now. The entitlements handling seems to have changed a bit in Xcode 9, or it's due to the fact that it's in beta (4). The main task left is decoding the returned data from the NDEF tag.. hopefully I'll be able to do that soon. All code is on GitHub btw.

[2017-08-04 02:01] sublimator commented on #4
There's this: https://github.com/don/ndef-js

[2017-08-04 02:02] sublimator commented on #4
We're stuck in our loveless marriage with ionic for the moment, but still
looking longingly now and then at NS haha :)

[2017-08-14 19:42] EddyVerbruggen opened #5 "Crash on resume on Android"
May be due to a newer {N} version, related to onresume event timing.

[2017-08-15 08:43] #5 closed, assigned to EddyVerbruggen

[2017-08-15 08:43] EddyVerbruggen commented on #5
Fix will be published with 2.0.0.

[2017-08-21 21:14] davidetan opened #6 "Android Demo do not detect nfc tags"
This plugin seemed promising to me, but unfortunately I am not able to make it work.

I have a Samsung Galaxy A3.
I am using the following type of nfc tag: [Link](https://www.shopnfc.it/it/braccialetti-nfc/54-195-bracciali-nfc-in-silicone-premium.html#/19-chip_nfc-ntag213/29-personalizzazione-no)
I have use the command `npm run test.android`. The app builds correctly and appear loads on the device

[2017-08-21 21:37] EddyVerbruggen commented on #6
You should use `npm run demo.android`, the `test` script is for running tests on CI.

The "ready to scan" UI is the iOS UI for scanning tags, there's no such thing (needed) for Android.

I don't have such a tag so I can't test your case..

[2017-08-21 21:44] davidetan commented on #6
Yes, sorry, I meant `npm run demo.android`.

That tag is a standard one. It does not detect anything unfortunately.

Otherwise could you show me a compatible one?
Tomorrow I will try with another phone and I will let you know.

[2017-08-23 05:51] davidetan commented on #6
Yesterday I tried the same operations using an LG Nexus 4.

I also tried to use a complete different nfc device. This is still not detected by the demo app, but detected by all the apps on the Android store.

I tried to implement by myself the api, but the result remains the same: `available` and `enable` apis work correctly, but the callbacks set by the listeners are never called.

Is there a cha

[2017-08-23 06:46] EddyVerbruggen commented on #6
Hi, that's really unfortunate to hear. I only have a Nexus 6P and 1 specific type of NDEF tag to test with. And that works fine.

Is there anything `adb logcat` can tell you while scanning the tag (with the ndef listener enabled)?

And please also try version 1.0.0 of this plugin to rule out the chance that I screwed something up in the last release..

[2017-08-24 17:40] davidetan commented on #6
Today I had the opportunity to try quickly to build the demo app at version 1.0.0, but an error prevented me to build the app.

In the next days I'll try to use another computer and I'll let you know.

It's unfortunate I'm not able to use this plug in, the api's are so simple and well done that is exactly what I'm searching.

[2017-09-19 01:45] ikhsan017 commented on #6
I have the same issue,

just run android demo, "nfc available" and "nfc enabled" both alert "true", but "set ndef listener" and "set tag listener" do nothing, "write *" button only alert "connection failed"

**edit: rebuild demo, now it just works fine

also, on my code

[code]

I put a breakpoint on breakpoint1 and breakpoint2, breakpoint2 is executed, but breakpoint1 never get executed when NFC

[2017-09-29 06:15] davidetan commented on #6
Other friends of mine tried this plugin on android devices and V2 definitely does not work.
They was not able to try V1 like me because something is broken and the build does not start.

[2017-10-31 18:19] kunchit opened #7 "Android setOnTagDiscoveredListener Error"
i use **setOnNdefDiscoveredListener** and implement like this
 `exports.doStartTagListener = function(){
  nfc.setOnTagDiscoveredListener(function(data) {
    console.log("Discovered a tag with ID " + data.id);
  }).then(
    function() {
      console.log("OnTagDiscovered listener added");
    }
  );
}
`
 When i read rfid . i found error

I need to get data from rfid and alert to screen . How can

[2017-10-31 21:01] EddyVerbruggen commented on #7
Hi, if you can reproduce this error with the demo app in the repo then I'll gladly take a look!

[2017-11-01 08:00] #7 closed, assigned to nobody

[2017-11-23 12:22] skhye05 opened #8 "Webpack Issues Angular"
### When i am installing the plugin and running webpack command i am getting the following error
`Execution failed for task ':asbg:generateBindings'.

`
### What could be the issue?? and how can I make it work??

[2017-11-23 13:06] EddyVerbruggen commented on #8
That's an incredibly unuseful error message.. can't help with that.

[2017-11-23 13:08] skhye05 commented on #8
@EddyVerbruggen Did you ever run into an error with webpack while using the plugin with nativescript + angular??

[2017-11-23 13:14] EddyVerbruggen commented on #8
I have never done that with this plugin.

That being said, I have a non-Angular webpack configuration in the [Travis CI build](https://github.com/EddyVerbruggen/nativescript-nfc/blob/master/.travis.yml). And this build succeeds.

[2017-11-23 13:20] skhye05 commented on #8
@EddyVerbruggen How can i exclude it from webpack?? and if i do will it work??

[2017-11-28 10:09] manojdcoder commented on #8
@EddyVerbruggen I'm using this plugin with Angular and WebPack, iOS complies just fine but there is known issue with [Android](https://github.com/NativeScript/nativescript-cli/issues/2901)

As @Pip3r4o suggested, I simply renamed the JavaProxy and updated same in manifest, everything was just perfect then. It may not be a feasible solution but at least the build is happening for now.

[2017-11-28 10:21] EddyVerbruggen commented on #8
@manojdcoder Would you be willing to do a PR to change that?

[2017-11-28 11:48] #8 closed, assigned to nobody

[2017-11-28 12:14] EddyVerbruggen commented on #8
If it were trivial I'd do it immediately but I'm thinking about the implications still.

What if 2 plugins would need a changed activity name? So I don't really like this fix (although it was recommended in the issue you linked to)... so need some time to digest it.

[2017-11-28 12:25] manojdcoder commented on #8
@EddyVerbruggen Exactly that is the same reason I felt this is not a feasible solution. But for time being I had to go with this.

[2017-11-28 16:59] manojdcoder commented on #8
If [onNewIntent](https://github.com/NativeScript/NativeScript/issues/2747) is implemented in NS Activity, this could be easier.

[2017-12-01 09:20] n4lexeev opened #10 "card emulation"
is any tutorial for card emulation of device ?
thx for advance

[2017-12-01 09:30] EddyVerbruggen commented on #10
Dunno, but if you find one, feel free to post it here.

[2017-12-01 09:30] #10 closed, assigned to nobody

[2017-12-03 16:17] manojdcoder opened #11 "setOnNdefDiscoveredListener callback is not invoked on main thread in iOS"
In iOS `setOnNdefDiscoveredListener` callback not seems to be invoked on main thread due to which updating UI elements / `changeDetectorRef.detectChanges()` in angular app doesn't work.

A workaround was using a `Promise.resolve().then(()=>{})` inside callback, but fixing this in the plugin will make it parity with Android.

[2017-12-05 08:23] Nurgunkalol commented on #10
I am trying to do like this:
declare var android: any;
@JavaProxy("com.tns.MyHostAdpuService")
class MyHostAdpuService extends android.nfc.cardemulation.HostAdpuService { }

also added it to AndroidManifest but tns-nativescript-declarations doesnt see android.nfc.cardemulation
+ on testing with scanner its always shows "unable to instantiate service classnotfoundexception"

can anyone give me adva

[2017-12-08 10:49] #4 closed, assigned to EddyVerbruggen

[2017-12-08 19:32] EddyVerbruggen commented on #11
Perfect finding, and thanks for the hint!

I've also piggybacked a fix for iOS where certain encoded Ndef data would crash the app.

[2017-12-08 19:32] #11 closed, assigned to nobody

[2017-12-08 19:33] EddyVerbruggen commented on #6
Please try 2.1.0, I just published it on npm - or clone this repo and run the demo app (all its NativeScript dependencies are bumped to the latest versions).. it works great for me on iOS and Android.

[2017-12-08 19:33] #6 closed, assigned to nobody

[2017-12-15 14:57] ukch commented on #6
@EddyVerbruggen The demo still does not work for me using the latest version. Here is what I did:

* Clone the latest `nativescript-nfc` from Github
* `cd nativescript-nfc/src && npm run demo.android`
* In app, check the 'NFC Available' and 'NFC Enabled': these both return true
* Press the 'Set NDEF Listener' button
* Touch the NFC tag to the phone's NFC reader: nothing happens

I have tested the

[2017-12-15 17:05] EddyVerbruggen commented on #6
What Android device / version is that?

My Samsung S8 and Nexus 6P have no issues detecting a tag, but it could be that tag is not supported by ndef, maybe?

[2017-12-18 12:27] ukch commented on #6
It's a Sony Xperia FC111 running Android 7.0.

[2017-12-24 15:33] guyulmaz opened #12 "Support for isodep contactless cards"
Hello,
Thanks for this library.
Does this library support isodep and iso 14443 type A cards, for example desfire cards
And for example  mifare ultralight cards? Support read write these cards?

[2017-12-24 16:39] EddyVerbruggen commented on #12
I have no idea as I don’t own those.

[2017-12-24 16:39] #12 closed, assigned to nobody

[2017-12-27 09:44] jdvos commented on #6
Library 2.1.0 is not working for me either.
Same effect as ukch : both nfc available and enabled = true, but listener does not handle the card.
With library 2.0.0 no problem.
Samsung Galaxy Tab Active2 with Android 7.1.1

[2017-12-27 10:26] EddyVerbruggen commented on #6
@jdvos If 2.0.0 did work, can you verify that you've made [this change](https://github.com/EddyVerbruggen/nativescript-nfc/tree/f9f2eadf7a1f174de46d0540fe4263bf1735c3c3#android-setup) with 2.1.0?

[2017-12-27 10:35] jdvos commented on #6
Missed the activity change.
Now version 2.1.0 works flawlessly.
Thank you.

[2017-12-28 07:31] n4lexeev commented on #10
Im done NFC HostApduService (nativescript app works like card emulation for android):
[code]

works great!

[2017-12-29 04:11] ikhsan017 opened #13 "Nativescript 3.4 Ng 5.* compatibility"
Hi Eddy,

sorry to disturb in this holiday season, but it seems after I update my tns to 3.4, nativescript nfc is now broken.

So I tried to create new project using ```tns create sample --ng```, modify the sample page to looks like this, and got error.

It seems that we can not access application.android.foregroundActivity in NS 3.4

template
[code]

component
[code]

error
[code]

[2017-12-31 10:56] EddyVerbruggen commented on #13
Thanks for the report, I'll take a look!

[2017-12-31 11:25] EddyVerbruggen commented on #13
Looks like the `Nfc()` constructor is now (with NativeScript 3.4) able to run before the `foregroundActivity` is set.

I've changed the internal logic to check for the `foregroundActivity`, and if not set, listen for the app launch event (which is guaranteed to fire after `foregroundActivity` was set.

Available in 2.1.1.

[2018-01-01 12:04] ikhsan017 commented on #13
Thanks for quick response Eddy,

Nfc instantiation give no error, but somehow I get following error when I start adding ndefListener (using demo included in this repo)

[code]

[2018-01-01 15:41] EddyVerbruggen commented on #13
Thanks, can you give 2.1.2 a try?

[2018-01-01 15:41] #13 closed, assigned to nobody

[2018-01-03 07:34] ikhsan017 commented on #13
Great, it now works as expected

Thank you very much :)

*edit*
demo included in this repo works as expected, but not with nativescript-angular version, and without any error in console. same code works on NS 3.3 as expected.

[2018-01-04 23:27] mm-ns opened #14 "Cannot detect tag - no response"
Hi there,

I used the plugin in a sample demo app i have. However, i cannot get any response from either 2 methods:

public doStartNdefListener() {
    this.nfc.setOnNdefDiscoveredListener((data: NfcNdefData) => {
      if (data.message) {
        let tagMessages = [];
        // data.message is an array of records, so:
        data.message.forEach(record => {
          console.log("Read record: "

[2018-01-05 10:46] mm-ns commented on #14
Fixed. It was that my tag had to be written specifically with a specific encapsulation --> https://github.com/pokusew/nfc-pcsc/issues/30

[2018-01-05 14:08] #14 closed, assigned to nobody

[2018-01-05 14:13] mm-ns opened #15 "iPhone X - NFC not available and not enabled even though it should be"
Im getting on iphone X that the NFC's not enabled nor available even though I did add it in the entitlements and I can check if opening the xcode project that it is enabled...

![image](https://user-images.githubusercontent.com/26540637/34612549-a89f59f8-f22a-11e7-9506-46206d2f1884.png)

I don't understand why so... Any help?

[2018-01-05 20:06] mm-ns commented on #15
it turns out it's because i needed to add info.plist and a key for NFCreaderUsageDesription.

[2018-01-05 20:06] #15 closed, assigned to nobody

[2018-01-05 20:11] mm-ns opened #16 "On android "New Tag Collected" takes over the app when reading a card"
As per title, when i scan my tag (NDEF) on android normally the tag would be read by the OS "New Tag Collected" showing what i have written. My code, where the setOnNdefDiscoveredListener is, doesn't ever get a callback to print any data..

Can someone tell me why ?

[2018-01-05 20:14] EddyVerbruggen commented on #16
Did you do this? https://github.com/EddyVerbruggen/nativescript-nfc/tree/9430e1f175e6066d9a9510cb9f03cdacdca1895f#android-setup

[2018-01-05 20:44] mm-ns commented on #16
@EddyVerbruggen yes :) And it opens "New tag collected"

This is my manifest.xml

`<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="__PACKAGE__"
	android:versionCode="1"
	android:versionName="1.0">

	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreen

[2018-01-05 20:51] mm-ns commented on #16
PS: I'm using angular with {N}

[2018-01-05 20:58] mm-ns commented on #16
seems like updating {N} to 3.4.0 did the trick..

[2018-01-05 20:58] #16 closed, assigned to nobody

[2018-01-09 08:24] skhye05 opened #17 "tns run android --bundle errors with nativescript 3.4.0"
Hi Eddy,

I would like to thank you for this plugin. it has been very helpful and mentions a couple of errors i have notice while running the command tns run android --bundle.

When i run tns run android command these errors don't appear.

I have two page where I want to use the NFC plugin `home` and `test` pages and I am using `nfc.helper` class to use the plugin method.

## **The First Error**

[2018-01-09 09:16] EddyVerbruggen commented on #17
You may want to make that NFCHelper a singleton so it's only instantiated once. Just create an Angular service, provide it in the app module, and inject it in any component you need it.

That being said, I still wouldn't expect that error - is there a repo I can clone to see this myself?

[2018-01-09 10:42] skhye05 commented on #17
No I have no repo, but i can create one

[2018-01-09 11:19] skhye05 commented on #17
Hey @EddyVerbruggen,

You can find the project here : [project repo](https://github.com/skhye05/Nativescript-nfc-test.git)

[2018-01-09 12:42] EddyVerbruggen commented on #17
Thx @skhye05! It's a simple matter of cloning, `npm i` and `tns run android` to reproduce it?

[2018-01-10 06:34] skhye05 commented on #17
Yes,
`npm i` and `tns run android --bundle`

[2018-01-10 11:09] EddyVerbruggen commented on #17
I've been able to reproduce your issue. Hope to find a solution..

[2018-01-10 13:58] EddyVerbruggen commented on #17
Tried a few things but it really looks like something is broken upstream. We may need to ask this in the https://github.com/NativeScript/android-runtime repo... found this issue just now: https://github.com/NativeScript/android-runtime/issues/911

[2018-01-10 14:03] Plamen5kov commented on #17
Hi @skhye05, you can check out [this](https://www.nativescript.org/blog/nativescript-webpack-0.9.0-what-changed-and-how-to-upgrade) to help you with the migration of your project.

[2018-01-10 22:45] fhackenb opened #18 "Question: iOS support"
Are you planning to add iOS support for the remaining functions that are android only?

I'm particularly interested in the writeTag function

[2018-01-11 08:42] EddyVerbruggen commented on #18
Please reopen with a link to the Apple docs on how to do that, and I'll gladly give it a try.

[2018-01-11 08:42] #18 closed, assigned to nobody

[2018-01-11 11:43] skhye05 commented on #17
@Plamen5kov I have done the migration and the issue still occurs...

[2018-01-11 16:14] Plamen5kov commented on #17
@skhye05 I'm sorry to hear you encounter issues with your project. I'd suggest opening a new issue, describing your problem in detail so we can do the best we can to help you to figure out the problem.

[2018-01-17 14:38] fhackenb commented on #18
Ahh looks like Apple doesn't let you do writes - hopefully they'll add that at some point.

[2018-04-11 14:04] des-esseintes commented on #17
I can confirm the issue, introduced webpack to my app w/ this great nfc plugin (thank you for your work, using bt, nfc and going to use fingerprint one as well) and getting that activity error: com.tns.NativeScriptException: Failed to create JavaScript extend wrapper for class 'com/tns/NativeScriptNfcActivity'
the app is pure js.

[2018-04-11 19:54] EddyVerbruggen commented on #17
@des-esseintes Looks like something like https://github.com/NativeScript/nativescript-dev-webpack/issues/446 needs to be added to the readme. Can you perhaps give it a try?

[2018-04-12 10:55] des-esseintes commented on #17
hello.
i feel very stupid, but can't get it working :)
at firsrt ie tried the ts version, like on the link you posted. as my project is js only i had to add ts support, but still could not get it buit -- always complains about missing 'android'.
ok so i copied the corresponding portion of the code from nfc.android.js from node_modules/nativescript-nfc and now it's giving me
[code]

i'm probably do

[2018-04-12 11:07] EddyVerbruggen commented on #17
Don't feel stupid, this is actually a very hard problem.

I'm going to see if it's easier to fix with NativeScript 4 (hoping to get rid of this file entirely).

You were right to copy the .js file and use that, and change webpack.config.js to add it as a 'MainAcivity' as mentioned in the linked issues.

Perhaps try removing the platforms/android folder and build again?

[2018-04-13 09:09] des-esseintes commented on #17
yesterday i've totally messed the whole project with all those rebuild (a weird {N} bugs started to appear), i think i'll try again, from scratch, later.
i think i'll stick with some tiny test app first and then port the changes to my main one. i'll report back as soon as i get some results. thanks for your help

[2018-04-16 12:10] des-esseintes commented on #17
Hello
I've created a test empty app, tried building in default mode with nfc activity -- ok
then tried to build w/ webpack -- failure
added portion of code from your android file (generated js version) -- working!
haven't ported it into my main app yet, though, but this is another question.

[2018-04-16 12:30] skhye05 commented on #17
Hi,

I have a found a workaround by importing the nfc class in app.component.ts and create a service with an eventEmitter to  emit the callback response after i get the reading data.

Here is the code:

#### app.component.ts

[code]

[2018-04-16 12:32] skhye05 commented on #17
Hi,

I have a found a workaround by importing the nfc class in app.component.ts and create a service with an eventEmitter to  emit the callback response after i get the reading data.

Here is the code:

#### app.module.ts

[code]
#### app.component.ts

[code]
#### home.component.ts

[code]

#### test.component.ts

[code]

[2018-04-16 12:34] skhye05 commented on #17
Hi,

I have a found a workaround by importing the nfc class in app.component.ts and create a service with an eventEmitter to  emit the callback response after i get the reading data.

Here is the code:

#### app.module.ts

[code]
#### app.component.ts

[code]
#### home.component.ts

[code]

#### test.component.ts

[code]

[2018-04-16 12:38] skhye05 commented on #17
Hi,

I have a found a workaround by importing the nfc class in app.component.ts and create a service with an eventEmitter to  emit the callback response after i get the reading data.

Here is the code:

#### app.module.ts

[code]
#### app.component.ts

[code]
#### broadcast.service.ts

[code]
#### home.component.ts

[code]

#### test.component.ts

[code]

This work for me at the current moment and

[2018-04-22 13:35] KennethWussmann opened #19 "Question: Open NS app when NFC Tag read"
Hey!
first of all, happy birthday @EddyVerbruggen 🎂

Is it possible to let Android start my NativeScript app when a NFC-Tag has been detected? Especially, a tag written by me using nativescript-nfc?

**What I tried**
Adding the following to `AndroidManifest.xml` within `activity`
[code]
Writing on a tag using:
[code]
I also tried various variations and methods I found online. But maybe I miss some

[2018-04-30 08:25] prolog8 opened #20 "Always not fire"
Hi,

I testing in a real device (SONY Xperia1 - Android 7)
tns version = 4.0.0

I just execute following code, I got message "OnNdefDiscovered listener added!".
But tap the NFC tag to testing, Always can't fire the block to processing the data. (Can't see "Fire me!!!").

What wrong the code?

nfc.setOnNdefDiscoveredListener(function(data){
   console.log('Fire me!!!');
}).then(()=>{
   console.log

[2018-05-02 02:06] prolog8 commented on #20
Hi,

I re-generate the android platform use command:

And make sure the name "com.tns.NativeScriptNfcActivity" is same in both files (nfc.android.js AND AndroidManifest.xml).

Now, can triggered the events.

Thanks
Willow

[2018-05-02 02:11] prolog8 commented on #20
This is copy from my Cordova project that make easier to convert NFC Tag ID to string:

nfc.bytesToHexString=function (bytes) {
    var dec, hexstring, bytesAsHexString = "";
    for (var i = 0; i < bytes.length; i++) {
        if (bytes[i] >= 0) {dec = bytes[i];} else { dec = 256 + bytes[i];}
        hexstring = dec.toString(16);
        // zero padding
        if (hexstring.length === 1) {hexstr

[2018-05-02 02:15] #20 closed, assigned to nobody

[2018-06-01 07:21] ikhsan017 commented on #17
is this issue still present in nativescript 4.0?

[2018-07-09 09:28] prodigy7 opened #21 "Card Emulation (HCE) for Android and iOS"
Is there currently a way, emulating a nfc card? My goal is, emulating a nfc card with android/ios so a nfc reader can recognize and trigger some actions under defined conditions.

If HCE isn't supported, it would be nice see it as a new feature. Would be nice for many situations (access control for example)

Some sample code can found here: https://github.com/skjolber/external-nfc-api/tree/master/

[2018-07-11 14:55] ntrpnr opened #22 "Ability to set tag read only"
The NFC standard allows for tags to be set as read only.

Is there any possibility to do this using nativescript-nfc?

[2018-08-22 13:34] Jmchemama opened #23 "This installation failed for me"
[code]

Hello, I have this error when I run this command : tns plugin add nativescript-nfc.
This is the first time I see this kind of error when installing a plugin.

[2018-09-06 12:47] Jmchemama commented on #23
It's ok now

[2018-09-06 12:47] #23 closed, assigned to nobody

[2018-09-10 02:45] spencercap opened #24 "getClass of undefined error (android)"
hi,
just trying to get this plugin up and running with my nativescript-vue project for android. following the installation instructions i reached this: `Error is: Cannot find module 'nativescript-custom-entitlements/lib/before-prepare.js’.` which i fixed by installing the [nativescript-custom-entitlements package](https://www.npmjs.com/package/nativescript-custom-entitlements) but carrying on, i c

[2018-09-10 06:34] EddyVerbruggen commented on #24
Hi, `nativescript-custom-entitlements` [is a dependency of this plugin](https://github.com/EddyVerbruggen/nativescript-nfc/blob/9430e1f175e6066d9a9510cb9f03cdacdca1895f/src/package.json#L61) so if that's not installed that's a red flag indicating `npm i` didn't run in the folder this plugin is installed. Please fix that before continuing. It's probably mentioned somewhere in the Vue template you'r

[2018-09-10 06:34] #24 closed, assigned to nobody

[2018-09-10 07:42] spencercap commented on #24
hi eddy,
totally get the dependency issue and that's easily solved (sorry for bringing up two issues), but as the console reads, i'm having trouble even instantiating the plugin with `var nfc = new Nfc();` (for android). would adding this plugin to nativescript-vue project have anything to do with the error?

[2018-09-10 08:18] EddyVerbruggen commented on #24
Hi, no problem what you've reported, and indeed it must be related to how the Vue template/project is organized as the demo in this repo works just fine. Perhaps it's best to start there and see what's different? To run it, do:

[code]

[2018-09-14 05:43] spencercap commented on #24
thanks eddy - i was able to get the demo app up and running with ease.
perhaps i am not setting things up correctly in my project. can you elaborate on the android setup?
i try this step: `Update the activity entry in your App_Resources/Android/AndroidManifest.xml file` by replacing the default `com.tns.NativeScriptActivity` with `com.tns.NativeScriptNfcActivity` but i get the same getClass error

[2018-09-14 21:40] spencercap commented on #24
solution!

after a bit of tinkering, i found that this error is actually an issue of using this plugin with the [vue-cli-template](https://github.com/nativescript-vue/vue-cli-template). i'm not exactly sure how/where the scope and/or reference to Nfc is lost, but i was not able to initialize Nfc with `var nfc = new Nfc();` in `main.js`.
i did manage to get things working when requiring the plugin

[2018-09-19 14:12] n4lexeev commented on #21
Is this your question?
https://github.com/EddyVerbruggen/nativescript-nfc/issues/10

[2018-09-27 15:49] mediadeo opened #25 "demo will not build"
Hello I tried to implement this NFC scanner but all I get on android is a beep and then nothing happens.

In order to try and figure out what I'm doing wrong I downloaded this demo repo and then tried to do a cloud build with that on NS, but it failed...

I'm also trying in JS and your demo is in TS ... but after half a day of trial and error, I'm kind of stuck without any pointers?

[2018-10-11 20:28] EddyVerbruggen commented on #25
Please share a repo that shows the problem, I may find some time to take a look.

[2018-11-08 09:58] patricklx opened #26 "Not compatible with nativescript 5.0.0"
App crashes at startup, probably because they switched to FragmentActvity?

`Event: activityResumed, Activity: com.tns.NativeScriptNfcActivity@1ed9f66
System.err: com.tns.NativeScriptException:
System.err: Calling js method onViewAttachedToWindow failed
System.err:
System.err: TypeError: this._context.getSupportFragmentManager is not a function
System.err: File: "file:///data/data/com.ibm.hrl.work

[2018-11-21 17:50] EddyVerbruggen commented on #26
Should be OK now.

[2018-11-21 17:50] #26 closed, assigned to EddyVerbruggen

[2018-11-21 17:51] EddyVerbruggen commented on #25
Should be OK now.

[2018-11-21 17:51] #25 closed, assigned to nobody

[2018-11-21 17:51] EddyVerbruggen commented on #17
Should be OK now. See the webpack note in the readme.

[2018-11-21 17:51] #17 closed, assigned to nobody

[2018-12-14 21:14] pdipax opened #28 "Not fire on nativescript vue"
Hi guys,
I have installed this plugin but the only methods that work are available and enabled.
This is my code on the mounted event:

[code]
I declare NFC as:
import { Nfc } from "nativescript-nfc"

No errors and only logs on available and enabled on real android device but no read a mifare card.

Any suggest?
Thanks, P

[2018-12-15 11:59] pdipax commented on #24
Hi @spencercap,
I have some issue with nfc and vue. I think that the issues are referenced to androidmanifest and webpack config because in the first i have some errors if add NativeScriptNfcActivity and for the second in node_modules doesn't exist the file nfc-activity.android.ts !!! My code is here #28 .
Thanks in advance. I hope you can help me! Bye

[2018-12-15 12:14] spencercap commented on #24
@pdipasqua did you try requiring Nfc like above? instead of importing Nfc from nativescript-nfc like your issue #28 ?

I am only able to get NFC working within a single .vue component.

[2018-12-15 12:24] pdipax commented on #24
@spencercap Yes, I have tried. If I follow the documentation I have two incongruences:
In AndroidManifest I just have NativeScript activity

[code]

I need to replace the NativeScriptActivity entry in NativeScriptNfcActivity?
if I do it has an error, then I duplicated the block.

I use webpack, the documentation says to add this line:
    resolve(__dirname, "node_modules/nativescript-nfc/nfc-activ

[2018-12-19 22:10] hagai-shatz commented on #28
I have the same problem - NFC is enabled and listeners are set without any errors but no events are fired. The device makes the NFC read sound, but nothing in the app.

[2018-12-20 09:32] EddyVerbruggen commented on #28
Looks like a readme issue actually, but to kind of 'notify' users I've released a patch version (3.0.1) to npm. The change is this line (.js instead of .ts):

https://github.com/EddyVerbruggen/nativescript-nfc/blob/6dfa0ff4f77cab5ab7f494ac3055f728ce51d131/demo/webpack.config.js#L17

[2018-12-20 09:32] #28 closed, assigned to nobody

[2018-12-20 09:42] EddyVerbruggen commented on #28
Also see this PR: https://github.com/pdipasqua/test-nfc/pull/1

[2019-01-17 08:24] MaxiSonntag commented on #11
Not sure if it's just me but I currently had the same issue with Android. My workaraound was injecting  `NgZone` to the component and using the `run` method for all UI relevant operations.

Not sure if I did something wrong or this issue still persists?

[2019-01-23 10:03] kriefsacha commented on #13
Still same issue here :

[code]

with a service like this :

[code]

[2019-02-27 05:58] morALE-jo commented on #10
Hi @Nurgunkalol I'm in the process of developing a NativeScript app that needs host-based card emulation (HCE) to pay in readers connected to arcade games and it seems like there is not much information about this topic. I noticed that you managed to create a functional app.
Would it be too much if I ask for a running code example if you have it at hand?

[2019-02-27 14:47] GijsPost commented on #13
Still stuck with the same issue as @kriefsacha, @EddyVerbruggen Any clues?

[2019-02-27 16:13] kriefsacha commented on #13
I create a new instance every time i need @GijsPost ..

[2019-02-28 12:33] GijsPost opened #29 "Listeners do not work on Angular w/ Android"
**Problem**:
`setOnTagDiscoveredListener` and `setOnNdefDiscoveredListener` do not call their callbacks when scanning their respective tags.
**Versions**:
[code]

**app.component.ts**:
[code]
**Note**:
`nfc.available()` and `nfc.enabled()` do return their values correctly.
When scanning a tag, AndroidApplication.activityResumedEvent gets called everytime.

**Things i've already tried**:
- Uninstal

[2019-02-28 12:39] EddyVerbruggen commented on #29
Did you also try the demo app in this repo?

[2019-02-28 12:56] GijsPost commented on #29
@EddyVerbruggen I don't see how the demo has anything to do with it since it isn't Angular. Regardless, it doesn't work for me either.
[code]

[2019-02-28 13:25] EddyVerbruggen commented on #29
Please share your project and I might take a look.

[2019-02-28 14:26] GijsPost commented on #29
@EddyVerbruggen https://github.com/GijsPost/nativescript-nfc-test-temp

[2019-02-28 14:57] EddyVerbruggen commented on #29
It's not related to Angular at all; the problem with that test app is the activity needs to be replaced, not added. I've tried making that more clear in the readme: https://github.com/EddyVerbruggen/nativescript-nfc#android-setup

And you can compare your implementation with the one in the demo app:
https://github.com/EddyVerbruggen/nativescript-nfc/blob/7e811b4aae9033968fed2d513d7e208c0c707eeb/de

[2019-02-28 14:57] #29 closed, assigned to nobody

[2019-03-01 18:50] cwjacobs commented on #6
Same result as jdvos when I made the change to the AndroidManifest. Thumbs up!!

[2019-03-06 08:18] GijsPost commented on #29
Hi, sorry for the late reply.
This did indeed work. Thanks for the help!

[2019-03-06 10:10] EddyVerbruggen commented on #29
Perfect, happy to help :)

[2019-03-11 16:58] femike opened #30 "tns run android --bundle error with tns-android 5.2.1"
Hi, i have a problem with plugin.
I was create `tns create nfc-demo` with Angular then install plugin `tns plugin add nativescript-nfc`
Added data to monifest and webpack.config and run `tns run android --bundle`

don't understand how import android to nfc.android.d.ts

[code]

[2019-03-12 13:14] cwjacobs commented on #30
I have the same issue with a Typescript app using this plugin. Apparently, occurs during the "after-prepare" hook in nativescript-nfc.js. Since I don't intend to debug the plugin, it probably doesn't really matter, but it would be nice to have a clean transaction from laptop to emulator.

Great plugin, btw. Thank you.

[2019-03-12 17:32] glydetech commented on #13
I'm seeing exactly this same issue with latest version of all software components:

`Foreground dispatch can only be enabled when your activity is resumed`

It appears to happen consistently on first-run after compiling and installing the app. I'm using nativescript-angular and webpack. I've tried instantiating in a public variable, constructor and ngOnInit, but the error still appears.

Error occ

[2019-03-12 18:01] EddyVerbruggen commented on #13
Share a repo and I might find some time to look into it.

[2019-03-12 21:06] kriefsacha commented on #13
@glydetech as i saied i used a new instance that i created everytime in a function and it worked..

[2019-03-13 18:07] glydetech commented on #30
I've seen this same issue with and without the --bundle flag. Try the following:

`npm install tns-platform-declarations --save-dev`

Then create a new file in the base directory of the project called references.d.ts containing:

[code]

[2019-03-13 19:11] cwjacobs commented on #30
Worked! Thank you Andrew.

[2019-03-13 19:24] glydetech commented on #30
Maybe this should be added to the Readme file as it seems to be required.

[2019-03-13 19:46] EddyVerbruggen commented on #30
Hmm, it was not intended to be required, but if it is then I'd be happy to.

[2019-03-20 12:21] Alberz commented on #28
I have the same problem. I added  `resolve(__dirname, "node_modules/nativescript-nfc/nfc-activity.android.js")` but events listener doens´t work.

[2019-04-14 14:45] codebeast opened #31 "Update readme - when using webpack - Reference the nfc activity"
Would be worth updating readme for webpack users or they will run into activity being not found

- "nativescript-nfc/nfc-activity.android.js" to be referenced in the appComponents

[2019-04-14 18:07] EddyVerbruggen commented on #31
Can you send a PR to this section please? https://github.com/EddyVerbruggen/nativescript-nfc#webpack

[2019-05-01 10:13] sylwesterdigital opened #32 "iOS app crashes - hexToDec / hex.toLowerCase - HEX data issue?"
Hi! My iOS app built with nativescript vuejs template crashes, this is last bit of log:

[code]

and this is template App.vue component:
[code]

Not sure what is the problem with hexToDec and then hex.toLowerCase, is it because my tag contains non-standard record maybe? I am guessing this case when I tried to read this tag with other apps it saying 'error data' or not displaying anything... but ot

[2019-05-01 11:01] EddyVerbruggen commented on #32
Yeah, I guess that value is not OK, and therefore NativeScript gets an `undefined` hex value from the iOS SDK. Let's no longer attempt to lowercase that ;)

Update to 3.0.2 please. Available from npm rn.

[2019-05-01 11:01] #32 closed, assigned to nobody

[2019-05-08 02:14] CorporateDrone opened #33 "package.json missing for demo app"
Hello, Thanks for making this plugin. I downloaded the code and am trynna ing to run your demo.  When I run `npm run demo.android` at the root of the project, I receive  gives the following error:

`npm ERR! enoent ENOENT: no such file or directory, open '/Projects/nativescript-nfc-master/package.json'`
`npm ERR! enoent This is related to npm not being able to find a file.`

Is there something els

[2019-05-08 08:09] EddyVerbruggen commented on #33
Try doing `cd src` first.

[2019-05-08 13:36] CorporateDrone commented on #33
That worked, thanks!

[2019-05-08 13:36] #33 closed, assigned to nobody

[2019-05-15 07:06] kousherAlam opened #34 "callback not get called when detect nfc"
callback not getting called, when nfc detected. the device play the sound but nothing is happening ...

`
import { Injectable } from "@angular/core";
import { Nfc, NfcNdefData, NfcTagData } from "nativescript-nfc";
import { Subject } from "rxjs";

@Injectable({
    providedIn: 'root'
})
export class NfcReaderService {
    nfcData = new Subject();

    private nfc: Nfc = new Nfc();

    constructor

[2019-06-03 20:26] EddyVerbruggen opened #35 "Add tag support on iOS (13)"
See `NFCTagReaderSession` at https://developer.apple.com/documentation/corenfc?changes=latest_minor

[2019-06-24 23:02] rebz commented on #24
I too am getting this error with Android. I am not using Typescript, but I am unable to `import` or `require` the package unless I do it within a script tag of some component; which is what I do not want to do.

This works perfectly fine for iOS, but building for Android just gives `Cannot read property 'getClass' of undefined`.

Is it because we are not using Typescript that this package does not

[2019-06-25 22:37] rebz opened #37 "Android: Cannot read property getClass of undefined"
Works perfectly fine on iOS, the moment I attempt to build for android the application refuses to launch. No matter how I try to import or require your package, I get the error; `Cannot read property getClass of undefined`. I saw another github issue opened for this, but no solution was made present.

The only way I got it to work was by requiring the package within the script tag of a component.

[2019-06-26 09:51] EddyVerbruggen opened #38 "Remove our custom activity because it's no longer needed (since NativeScript 5.4.0)"
NativeScript 5.4.0 introduced a "new intent" event (actually added by yours truly) so we no longer need to override the NativeScript activity by our own. This makes setting up this plugin much easier and foolproof, and also Webpack compatibility is easier now (read: no longer an issue at all).

This is a breaking change, so will bump to a new major version because of this.

[2019-06-26 09:53] #38 closed, assigned to nobody

[2019-06-26 10:06] EddyVerbruggen commented on #37
The plugin on npm is actually plain old JS because {N} can't run TS (it's a JS runtime).

So I don't know the exact issue, but please give version 4.0.0 a try. I've just released it. Perhaps your issue was with the custom activity that had to be configured with older versions, but that has been removed because NativeScript 5.4.0 made that obsolete.

[2019-06-26 10:06] #37 closed, assigned to nobody

[2019-07-01 22:29] rebz commented on #37
@EddyVerbruggen
I am still receiving the error after upgrading to 4.0 and updating my `AndroidManfiest` and `webpack.config` (using your updated notes in the README).

I've tried the following two methods inside of my `main.js` file:

[code]

Below is the error I receive:
[code]

`package.json`
[code]

[2019-07-01 22:55] rebz opened #39 "4.0.0 - Foreground dispatch can only be enabled when your activity is resumed"
I've created a fresh repo for you to reproduce the bug.
https://github.com/rebz/nfc-demo-error

I used `tns run android --bundle`

I am referencing a previous issue as this is where it started for me: https://github.com/EddyVerbruggen/nativescript-nfc/issues/37

With `3.0` I was able to `import` or `require` the package within the `<script>` tags of a component. However, after upgrading to `^4.0.0

[2019-07-01 23:19] rebz commented on #39
I downgraded to `3.0.3` but am still receiving this issue. Might be something else going on. I saw another issue thread, now closed, with this error but no solution other than a new version release of `2.1.2`.

[2019-07-02 09:19] EddyVerbruggen commented on #37
Hi @rebz, that's because you're instantiating the plugin *before* the app starts (which is the last line in `main.js`. You could move the instantiation to a later point.

I will take a stab at hardening the plugin against this kind of usage.

[2019-07-02 12:06] rebz commented on #37
@EddyVerbruggen

It did not matter where I loaded the plugin. Inside `main.js`, within a component's `<script>` tags, etc. The error is produced regardless of the location it is loaded.

However, I no longer receive the `getClass` error because now I get:
https://github.com/EddyVerbruggen/nativescript-nfc/issues/39

I tried downgrading to your `3.0` version, downgrading NativeScript as well. I can

[2019-07-02 13:13] EddyVerbruggen commented on #37
I'll continue investigating in that issue. Thx.

[2019-07-02 15:07] EddyVerbruggen commented on #39
Let me check, thanks for the details and demo app! I'm sure that will help.

[2019-07-02 15:17] EddyVerbruggen commented on #39
Please give 4.0.1 a go. I should fix this issue (tested with your demo app as well).

[2019-07-02 15:17] #39 closed, assigned to EddyVerbruggen

[2019-07-02 20:47] rebz commented on #39
@EddyVerbruggen - I can confirm that `4.0.1` is working in the repo I linked above. I'm heading out for the evening but I will do some further testing this week as I port it over to my app.

Genuinely appreciate you taking the time to work on this.

[2019-07-02 21:19] rebz commented on #39
Took a bit of uninstalling and re-install to clear cache and tweak all files. It is now working in my main app.

Thank you!

[2019-07-03 07:55] EddyVerbruggen commented on #39
Awesome, thx for the feedback!

[2019-07-03 16:05] larscifi opened #40 "Error: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.nfc.Tag.hasTech(int)' on a null object reference"
Hi, when i try to _write_ an nfc tag on android, the following error occurs:

I´m working with the latest version

` [Error: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.nfc.Tag.hasTech(int)' on a null object reference
JS:     android.nfc.tech.Ndef.get(Ndef.java:146)
JS:     com.tns.Runtime.callJSMethodNative(Native Method)
JS:     com.tns.Runtime.dispatchCallJ

[2019-07-10 12:53] SteveOfOlde opened #41 "What is the current / correct build procedure for the demo?"
I cannot get the demo to run properly, I have tried `npm run demo.android`, `tns run android` and `tns build android`

Both methods seem to work, but produce an error either in the emulator.

my `tns info`  -

And the error in the emulator

[2019-07-10 13:04] EddyVerbruggen commented on #41
I'm testing this plugin with NativeScript 6, so try with the NativeScript 6 RC: `npm -g nativescript@rc`. And to go back to 5.2 (or whatever you're running` do `npm -g nativescript@5.2`.

[2019-07-21 22:07] zhiyong-ft opened #42 "What kinds of NFC card readers do this plugin support?"
I assume it supports built-in NFC card readers. How about external ones like ACR122U?

[2019-07-22 02:53] zhiyong-ft commented on #41
With NativeScript 6, somehow I need to change the following line in app/app.ts:
[code]
to
[code]
Otherwise I get the following error message:

TS2551: Property 'start' does not exist on type 'typeof import("nativescript-nfc-master/demo/node_modules/tns-core-modules/application/application")'. Did you mean '_start'?
Webpack compilation complete.
Executing webpack failed with exit code 2.

[2019-07-22 07:52] EddyVerbruggen commented on #42
Try it, but I’ve written it with only the internal ones in mind.

[2019-07-22 07:52] #42 closed, assigned to nobody

[2019-07-22 07:53] EddyVerbruggen commented on #41
I’ll update that demo for N6 one day. Btw, start is now run.

[2019-07-22 12:34] przpl opened #43 "Can not write to tag; didn't receive an intent"
When I try to write tag on Android I get the following error: **Can not write to tag; didn't receive an intent**.

[code]

I have enabled NFC on my smartphone. I have tested it on Android 6 and Android 9 and on both I have the same error. Both _available_ and _enabled_ methods return true.

[2019-07-22 13:03] EddyVerbruggen commented on #43
I realize this is not documented, but IIRC you have to scan a tag before you’re able to write to it. So add a tag discovered listener and when it’s triggered, try to write to it.

[2019-07-23 12:15] #43 closed, assigned to nobody

[2019-08-02 15:07] furkarayel opened #44 "Error UnhandledPromiseRejectionWarning and NFC permission required"
Hello. I asked a question on stackoverflow where I got told I should open an issue on github, sorry for not opening an issue here.
I'm currently working on a project I have to read/write NFC tags with a Samsung Tablet which supports NFC.

I simply created a new project based on Vue.Js with NativeScript Sidekick and installed the nativescript-nfc.

I first of all implemented a method which executes

[2019-08-02 15:11] EddyVerbruggen commented on #44
Do you use the Preview app? That's a wrapper app which only ships a certain amount of plugins, this one not being one of those. So if you want to test NFC you'll need to build your own app, and the plugin will handle adding those permissions for you.

[2019-08-05 14:00] furkarayel commented on #44
It worked with a local build without errors. Love you man.

[2019-08-16 13:20] a-backman commented on #40
Any progress on this issue? I get the same error.

I'm using Nativescript 6.0.2 btw.

[2019-08-16 20:24] Fatfrido commented on #40
I've got the same problem with Nativescript 6.0.0.

[2019-08-17 12:13] EddyVerbruggen commented on #40
Interestingly I can't reproduce this.. how do you trigger it exactly?

Looking at the stacktrace you could try and guard [this line](https://github.com/EddyVerbruggen/nativescript-nfc/blob/a8d18da75261d3a8b87352bbc5d9a38ade671394/src/nfc.android.ts#L41); only run that bit of code if `tag` is not null. You can go into `node_modules/nativescript-nfc` and give it a go.

[2019-08-17 12:58] EddyVerbruggen commented on #40
I'm just going to assume the aforementioned issue is the problem on your end, and publish 4.0.2 in a bit.

[2019-08-17 14:05] Fatfrido commented on #40
So.. I quickly created a new project just to test the writing [here](https://github.com/Fatfrido/ns-nfc-test) (when an empty tag is discovered it should write a string to it). However, I still get this error.
I've also tried to guard the line @EddyVerbruggen mentioned earlier (thanks for your input, btw), but this part of the code is not executed, since I only try to write on empty tags, I guess.

[2019-08-17 15:55] EddyVerbruggen commented on #40
@Fatfrido Thx for the repo. Indeed, when writing a tag I can reproduce this error.

[2019-08-17 18:50] EddyVerbruggen commented on #40
@Fatfrido Should be much better with 4.0.3.

[2019-08-17 18:50] #40 closed, assigned to nobody

[2019-08-17 18:52] EddyVerbruggen commented on #41
Demo has been updated to N6.

[2019-08-17 18:52] #41 closed, assigned to nobody

[2019-08-17 18:53] #30 closed, assigned to nobody

[2019-08-17 18:54] EddyVerbruggen commented on #31
No longer needed with the 4.x release of this plugin.

[2019-08-17 18:54] #31 closed, assigned to nobody

[2019-08-17 18:55] #44 closed, assigned to nobody

[2019-08-17 22:44] Fatfrido commented on #40
@EddyVerbruggen thanks for the quick fix mate. You are awesome :D

[2019-08-18 09:55] a-backman commented on #40
@EddyVerbruggen thanks for the fix!

[2019-08-28 23:09] S-Maxime commented on #34
I have actually the same problem, here my gist :
https://gist.github.com/Ravaniss/e8b25658995198d95f84dba2d5def57a

It will be good to fix this in priority. ^^

[2019-08-30 07:24] EddyVerbruggen commented on #34
Please share a repo instead of a snippet and I'll take a look. Also, please post steps to reproduce this issue.

[2019-08-30 08:08] S-Maxime commented on #34
@EddyVerbruggen
Thank you so much to see you here ! :)

I did a repo just for you <3
https://github.com/Ravaniss/nfcprob

Here is what i have did :

  1) create a project with `vue init nativescript-vue/vue-cli-template <project-name>`
      - https://nativescript-vue.org/en/docs/getting-started/quick-start/

  2) Install typescript and nfc package.

  3) copy / paste my vue code.

  4) Use `tns r

[2019-08-30 10:29] EddyVerbruggen commented on #34
@Ravaniss This problem is on Android I guess?

What I'm seeing is when I scan an Nfc tag with your demo (after pressing all buttons) is when a tag was written to, it calls the ndef listener with all data, and if it's blank it calls the other callback.

[2019-08-30 10:44] S-Maxime commented on #34
Yes, it's on Android.

How did you get all data from the thing you scan ? O_O
Am i missing something ? Are you with IOS ?

Don't tell me i've missing something ... xD

[2019-08-30 10:55] EddyVerbruggen commented on #34
I'm testing on Android as well. Perhaps it depends on the type of tag you're scanning.. there are so many of them. But I don't see anything out of order..

[2019-08-30 10:58] S-Maxime commented on #34
Here is what i get with another app, and it's exactly these informations i need like, platform, type of tag and disponible technology

https://ibb.co/0ftrYfW

[2019-08-30 11:08] EddyVerbruggen commented on #34
Looks what I'm getting in the ndef listener. Perhaps try only setting that listener (not the tag listener).

[2019-08-30 11:44] Ravaniss commented on #34
What should i do ?

[2019-08-30 13:57] S-Maxime commented on #34
What should i do ? Because for me, my code is okay. Can you please give me an example ?

[2019-08-30 14:57] EddyVerbruggen commented on #34
Your code is fine for Android. Like I said, when only setting the ndef listener in your demo my testtags read out correctly.

[2019-08-30 15:18] S-Maxime commented on #34
Like this ? https://gist.github.com/Ravaniss/c0f7343a5b9c6978b1be01dcde5d9b39
I get this :

[code]

If yes, how can i get the name and the platform ? Like this :
https://ibb.co/0ftrYfW

EDIT :
Sorry but, the callback is not triggered. What i am missing ?
Because, i get data id and techlist, just like you can see on my screenshot from another app, but not like i would like to be.

[2019-08-31 20:07] sylann opened #45 "IllegalStateException when pausing app after new Nfc()"
On android, in the Nfc constructor, you are delaying the initialisation of the adapter with a setTimeout of 3 seconds.
This is causing an IllegalStateException if you pause the app between these 3 seconds.

I can't seem to find a way to catch this error, any idea?

--
By the way, I get this because I try to ask the user to enable NFC in the settings (and it would be a good idea to explain this par

[2019-09-04 08:32] Efrenray opened #47 "how to view NFC Tags ID on setOnTag?"
my School ID has NFC tag in it and would like to view its data.
Itried the setOnNdef and returned this:

also did the setOnTag and returned:

I'd like to view the data on the ID before writing on it. is this possible?

[2019-09-04 08:38] EddyVerbruggen commented on #47
Should work, when `setOnTagDiscoveredListener` is set. Just try and run the demo.

[2019-09-04 08:38] #47 closed, assigned to nobody

[2019-09-09 16:06] ivanff opened #48 "How to write service?"
I can't get routerExtension inside callback when i write service

component:

`
@Component({
    selector: 'app-sporttrack',
    templateUrl: './sporttrackSearch.component.html',
    styleUrls: ['./sporttrack.component.scss']
})
export class SporttrackSearchComponent implements OnInit, OnDestroy {
    constructor(public routerExtensions: RouterExtensions, private nfc: SporttrackNfcService, public

[2019-09-09 16:50] cherimo opened #49 "Support for NTAG424 and NTAG413?"
Hey,

Thanks for your plugin, much appreciated.
I have 1 question regarding support types, is it possible to make this plugin work with NTAG424 and/or NTAG413?
Where you can have predefined "DNA" to make sure that nobody else can read it, only if you have the security code to unlock the data.

Greetings,
Cherimos

[2019-09-11 09:36] ivanff commented on #48
`ngOnInit(): void {
        this.zone.runOutsideAngular(() => {
            this.nfc.doStartTagListener(this.searchAthlet.bind(this))
        })
    }`

`doStartTagListener(fn: (data: NfcTagData) => any): Promise<any> {
        return this.nfc.setOnTagDiscoveredListener((data: NfcTagData) => {
            console.dir(data, this.nfc)
            console.log('Tag discovered sporttrack scan! ' + JSON

[2019-09-11 09:37] ivanff commented on #48
I resolve this

[2019-09-27 13:41] #45 closed, assigned to nobody

[2019-10-11 07:17] furkarayel opened #50 "cannot call a method in the setOnTagDiscoveredListener"
Hello guys,

what I am trying to do is calling a method in nativescript-vue which might be undefined when trying to use like this:

    nfc
      .setOnTagDiscoveredListener(function(data) {
        method();
      .then(function() {
        console.log("OnTagDiscovered listener added");
      });

How can I access my methods or any functions although using the NFC plugin function?

[2019-11-06 10:40] Rav-Naz opened #51 "Cannot find namespace 'android'"
after type in console `tns run` I'm getting this error:

[code]

I'm working on Android Emulator, in Nativescript Angular

[2019-11-06 16:18] EddyVerbruggen commented on #51
Thx for reporting. There are a few ways around this, but I think it's best to fix that in the plugin itself - give 4.1.0 a spin.

[2019-11-06 16:18] #51 closed, assigned to nobody

[2019-11-06 17:02] Rav-Naz commented on #51
I'm fixed it by install tns-platform-declarations and added reference.d.ts
on root folder. I'm suggest that you should add this  infromation in
readme.md.

śr., 6 lis 2019, 17:18 użytkownik Eddy Verbruggen <notifications@github.com>
napisał:

[2019-11-06 17:37] EddyVerbruggen commented on #51
That was what I could have said, but I did one better and fixed it in the plugin like I mentioned.

[2019-11-08 18:52] Rav-Naz commented on #51
Hey, is there any way to enable NFC only in one component? Already it is
enabled on whole application, and everytime I'm getting this information:

*Ndef discovered, but no listener was set via setOnNdefDiscoveredListener. *

I'm wish to use nfc only in components where I have listeners.
Thanks for help in advance.
Best regards, Rafał

śr., 6 lis 2019 o 18:37 Eddy Verbruggen <notifications@github.

[2019-11-08 19:22] EddyVerbruggen commented on #51
We can remove that console.log, if that helps. But please don't hijack other issues with unrelated questions.

[2019-11-15 14:22] Pkurto commented on #34
I have the same problem here described. Do you discover the solution?

[2019-11-15 15:44] S-Maxime commented on #34
Nope.

[2019-11-15 16:29] Pkurto commented on #34
I am trying to use this plugin and when I run the demo code to read a tag (using my Samsung S8) I get the following error:

`Tag discovered, but no listener was set via setOnTagDiscoveredListener. Ndef: {"id":[4,25,31,-126,-39,91,-128],"techList":["android.nfc.tech.IsoDep","android.nfc.tech.NfcA","android.nfc.tech.NdefFormatable"]}`

I added a console.log in the first line of the callback function

[2019-11-18 10:46] Pkurto commented on #34
[UPDATE]

If I set a listener using"**setOnTagDiscoveredListener**" it will be called correctly when I scan a tag. For example:

[code]

Then I stopped this listener with "setOnTagDiscoveredListener(null)" and tested to set the listener for "**setOnNdefDiscoveredListener**". Then when I scan the tag again and I had the following output message:

[code]

I am trying to use the setOnNdefDiscoveredLi

[2019-12-26 10:55] gasparrobi opened #52 "Add writeTag support for iOS"
writing to a tag is now supported in iOS 13.

see `writeNDEF` at [https://developer.apple.com/documentation/corenfc/nfcndeftag](https://developer.apple.com/documentation/corenfc/nfcndeftag)

[2019-12-27 06:52] EddyVerbruggen commented on #52
Oh cool!

[2019-12-30 08:54] EddyVerbruggen commented on #52
I've added code to do a little PoC of this feature, but in my tests (on line 165) `nfcNdefTag.writeNDEFCompletionHandler` is `undefined`.

Here's the (commented) code.. feel free to play with it:

https://github.com/EddyVerbruggen/nativescript-nfc/blob/d4414b3a55f7d8eff6ed839ef531cb0262b10ad3/src/nfc.ios.ts#L150-L171

[2020-01-06 17:13] gasparrobi commented on #52
I'm trying to use your snippet. While the `readerSessionDidDetectTags` is called, the `tags` input parameter is undefined. I'm not sure why. I've tried with both empty and non-empty tags

[2020-01-13 21:23] joeelia commented on #52
Looking forward to this working

[2020-01-15 14:16] cloudhx opened #53 "System.err: Error: java.lang.IllegalStateException: Foreground dispatch can only be enabled when your activity is resumed"
Try to `tns run android` to an Android 9 device, the app will check the availability of the nfc at startup as shown below.

[code]

If the device is unlocked when the app is starting, it works well. If the device is locked when starting the app, the following errors are logged in the console.

[code]

After some debugging, it turns out that the error occurred during Nfc instantiating: `this.nfc =

[2020-02-14 11:51] sashok1337 commented on #52
Maybe it's somehow connected to NativeScript/ios-runtime#1251 ?  There is also native object transforms to JS without needed methods. I've tested app with latest version of ios-platform (that consist fix of that error) -  nfcNdefTag.writeNDEFCompletionHandler still undefined :(

[2020-04-29 10:55] cristiandaulisio opened #55 "iOS: How get tag uid?"
NfcNdefData should contain the id. In android it work but in iOS it is empty.

Is it possible get the tag uid?

[2020-05-03 13:38] kesavanpos commented on #29
I tried too i am getting exception

[2020-05-03 13:40] kesavanpos commented on #29
Can you help me on this as I am getting this exception
": java.lang.ClassNotFoundException: Didn't find class "com.tns.NativeScriptNfcActivity"

[2020-05-03 13:41] kesavanpos commented on #29
@EddyVerbruggen Can you help me on this as I am getting this exception
": java.lang.ClassNotFoundException: Didn't find class "com.tns.NativeScriptNfcActivity"

Added in App_Resources\Android\src\main\AndroidManifest.xml

<activity
			android:name="com.tns.NativeScriptNfcActivity"
			android:label="NFC"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:theme="@style/Launc

[2020-05-03 14:46] kesavanpos opened #56 "": java.lang.ClassNotFoundException: Didn't find class "com.tns.NativeScriptNfcActivity""
Added in App_Resources\Android\src\main\AndroidManifest.xml

<activity
			android:name="com.tns.NativeScriptNfcActivity"
			android:label="NFC"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:theme="@style/LaunchScreenTheme">

			<meta-data android:name="SET_THEME_ON_LAUNCH" android:resource="@style/AppTheme" />

			<intent-filter>
				<action android:name="android.inte

[2020-05-08 15:47] demetrius-tech commented on #52
Do you guys need any help? I need this feature and may be you've already made some progress or I can start working on this.

[2020-05-08 15:48] joeelia commented on #52
No progress. iOS write to NFC still dosent work for me

[2020-05-08 16:25] demetrius-tech commented on #52
Check this out: https://github.com/chariotsolutions/phonegap-nfc

The problem is that beginSession() is used instead of scanNdef().

"On iOS, the user must start a NFC session to scan for a tag. This is different from Android which can constantly scan for NFC tags. The nfc.scanNdef and nfc.scanTag functions start a NFC scanning session. The NFC tag is returned to the caller via a Promise. If your

[2020-05-08 16:30] EddyVerbruggen commented on #52
A PR would be very much appreciated!

[2020-05-08 16:32] demetrius-tech commented on #52
Sure, but it will take time as I don't have the dev env set up for iOS. I am developing for Android now. I am happy to help. I've never done a PR in my life, but I am eager to learn :D

[2020-05-17 10:39] Puschor commented on #55
I have the same problem. Is there any workaround available? This is what I found so far regarding this issue:

https://stackoverflow.com/questions/57978507/reading-uids-of-nfc-cards-in-ios-13
https://stackoverflow.com/questions/51822226/corenfc-not-reading-uid-in-ios

Is this maybe related to iOS 13?

I tried to read the tag with a different iOS app and it properly shows the uid.

[2020-05-23 20:13] joeelia commented on #52
Perhaps we have to call **queryNDEFStatus** before trying **writeNDEF** as per https://developer.apple.com/documentation/corenfc/nfcndeftag/3075574-writendef?language=objc. Found this native Swift sample app code for iOS

[code]

But I dont know how to implement this in Nativescript :D

[2020-05-31 18:32] pavel-suk commented on #53
Any news on this bug, i am now working with NFC and managed to found that if app is running and it is found on taskbar when you are selecting from other apps.. then it is working but if you wont find it then error occurs..

Any ideas how to fix it ?

EDIT
After downgrade to version 4.0.1 where it was fixed, its works fine.

[2020-06-15 18:37] demetrius-tech opened #57 "Cannot add plugin for local build"
Hi,

OS: MacOS
NativeScript: latest (platforms: 6.5.1, tns-core-modules: 6.5.5)

I am trying to add the plugin from an NativeScript angular project:

tns plugin add ../src

and it throws the following error on build:

Preparing project...
Hash: 6d5d3e256f940282df6d
Version: webpack 4.27.1
Time: 6805ms
Built at: 06/15/2020 21:32:52
 4 assets
Entrypoint bundle = runtime.js vendor.js bundle.js
Entryp

[2020-06-15 23:06] demetrius-tech commented on #57
I had to include the ../src files in the angular project tnslint

[2020-06-15 23:06] #57 closed, assigned to nobody

[2020-06-16 19:22] demetrius-tech opened #58 "Angular Demo from local plugin won't scan tag"
Scanning works from the official plugin but not from the local one. It doesn't find the tag and keeps waiting until times out.

Code: https://github.com/demetrius-tech/nativescript-nfc/tree/demo-ng2

I run manually:

cd src
npm run build
cd ../demo-ng2
tns plugin add ../src
tns run ios --for-device --team-id <TEAM-ID>

Log snapshot:

Initializing connection
Removing all cached process handles
Send

[2020-06-17 12:16] wendt88 opened #59 "possibility to undo setOnNdefDiscoveredListener"
after you add a `listener` with `setOnNdefDiscoveredListener` you can't remove it.
it would be a nice implementation.
if I'm not wrong, an android you have only to set `onNdefDiscoveredListener = null;`
and on iOS to call `invalidate()` on that session

[2020-06-17 13:09] demetrius-tech commented on #59
Doesn't setOnNdefDiscoveredListener(null) removes the listener?

[2020-06-17 20:21] demetrius-tech commented on #58
The issue was caused by these two unimplemented methods from nfc.ios.ts:
readerSessionDidBecomeActive
readerSessionDidDetectTags

If I remove them, scanning works.

The weird thing is that if I get the official plugin from the repo, these two methods do not exists in the final .js files.

Still investigating what's wrong here.

[2020-06-18 17:23] #58 closed, assigned to nobody

[2020-06-18 18:15] demetrius-tech commented on #55
I started to work on this inspired by the phonegap-nfc plugin: https://github.com/chariotsolutions/phonegap-nfc/blob/master/src/ios/NfcPlugin.m

But, being a newbie in NativeScript, I have some issues and I need some help, please.
I cannot access some properties from the NFCTag objects.

The code can be found here and I have commented what issues I have:
https://github.com/demetrius-tech/nativescr

[2020-06-23 12:21] demetrius-tech commented on #55
Does anyone know how to translate this Objective C code to TypeScript?

id<NFCTag> tag = [tags firstObject];
NSMutableDictionary *tagMetaData = [self getTagInfo:tag];

Simply doing: const tag = tags[0]; does not return anything in tag.type

Here is what i've done so far: https://github.com/demetrius-tech/nativescript-nfc/blob/dev-uid/src/nfc.ios.ts (tagReaderSessionDidDetectTags() method)

[2020-06-23 12:27] EddyVerbruggen commented on #55
@demetrius-tech have you tried this? `const tag = tags.firstObject`

[2020-06-23 13:46] demetrius-tech commented on #55
@EddyVerbruggen: firstObject only works if I do like this: const tag = NSArray.arrayWithArray(tags).firstObject; otherwise it is not available.

Even so, if I do console.log(tag.type) it says "undefined".

console.log(tag) outputs "<NFCMiFareTag: 0x282d7e9a0>"

Probably more processing is needed on the tags[0] to extract the "type" and after that the "identifier" on the MiFare type.

[2020-06-23 14:19] demetrius-tech commented on #55
Found a way to get the type, I will just compare this:

if (NFCTag.prototype.asNFCMiFareTag.apply(tag) === tag) {
      console.log("THIS IS A MiFare tag");
      tag.type = NFCTagType.MiFare;
      let mifareTag:NFCMiFareTag = NFCTag.prototype.asNFCMiFareTag.apply(tag);
      uid = NSData.alloc().initWithData(mifareTag.identifier);
    } else if (NFCTag.prototype.asNFCISO15693Tag.apply(tag) === t

[2020-06-23 16:32] demetrius-tech commented on #55
Getting the UID on iOS using NativeScript is not trivial. It always displays empty. Any ideas?

My code: https://github.com/demetrius-tech/nativescript-nfc/blob/dev-uid/src/nfc.ios.ts (getTagUID method)

Related StackOverflow topics:
https://stackoverflow.com/questions/46504035/little-endian-byte-order-ios-ble-scan-response
https://stackoverflow.com/questions/46518084/nativescript-get-string-from-

[2020-06-23 19:40] demetrius-tech commented on #52
@EddyVerbruggen: I've done good progress on implementing writeTag for iOS, it actually works, please check here: https://github.com/demetrius-tech/nativescript-nfc/blob/dev-ios-write-uid/src/nfc.ios.ts

Kindly support me in finding a solution for getting the UID #55 I'm pretty desperate.

[2020-06-25 17:09] demetrius-tech commented on #55
I've managed to get the tag UID by adding native code ObjC library.

You can check here: https://github.com/demetrius-tech/nativescript-nfc/tree/dev-ios-write-uid/src

Also, you can find there the code for writing tags for iOS.

If interested in PR, please let me know.

[2020-06-30 11:25] wendt88 commented on #59
sure, my fault... did not seen

[2020-07-07 16:17] cristiandaulisio commented on #55
Hello demetrius, so you succesfull? can you explain how you did and where i retreive the tag id?

[2020-07-13 14:00] demetrius-tech commented on #55
@Atomico001: you can find the ObjC code here: https://github.com/demetrius-tech/nativescript-nfc/tree/dev-ios-write-uid/src/platforms/ios/xcode/NfcNativeHelper

Created the libNfcNativeHelper.a library and added it to the src/platforms/ios (together with a .d.ts spec) : https://github.com/demetrius-tech/nativescript-nfc/tree/dev-ios-write-uid/src/platforms/ios

[2020-07-13 14:29] cristiandaulisio commented on #55
Good job demetrius, so i need to add manually in my platform folder? Any chance you can write a little tutorial to explain which step we need to do? Time to edit your readme :)

[2020-07-13 19:16] demetrius-tech commented on #55
Thanks @Atomico001! I still hope to find a way to avoid using native code.

You will find the generic tutorial on how to add native code to NS plug-in here: https://docs.google.com/document/d/1_PDEkC3EtZCsXhthGCmGwtCVVxOwdAepcJaUaA0Uk6k/edit?usp=sharing

Please comment if something is not clear or any issues.

[2020-07-14 09:17] Atomico001 commented on #55
Ty for reply @demetrius-tech . So if i understand right from your guide, i need to do only step 3 and 4. You did the step 1 and 2, right?

[2020-07-14 11:16] cristiandaulisio commented on #55
Thanks @demetrius-tech unlucky when i try to install your fork i receive this error when try to start nfc reader:
[code]

[2020-07-31 14:18] cristiandaulisio commented on #55
any news?

[2020-08-27 09:33] e-macs commented on #53
Any update on this issue? I need 4.1.0 version to be able to write tags, downgrade is not a solution for me...

[2020-09-23 11:25] #59 closed, assigned to nobody

[2020-09-23 11:31] wendt88 opened #60 "detect error for iOS"
It would be nice to add a callback parameter to detect user cancellation ([`readerSessionInvalidationErrorUserCanceled`](https://developer.apple.com/documentation/corenfc/nfcreadererror/code/readersessioninvalidationerrorusercanceled)) of the `readerSession` or any other error: https://developer.apple.com/documentation/corenfc/building_an_nfc_tag-reader_app#3240405
I'm new in iOS/swift, so i tried

[2020-09-25 12:18] leganz opened #61 "iOS 14 / AppStore : NDEF is disallowed"
## Package.json

[code]

[code]

I followed your tutorial in the readme. When I try to upload a version of it into the app store (testflight)
I got the following error message.

[code]

Any ideas what I make wrong?

[2020-09-25 13:04] EddyVerbruggen commented on #61
Sounds like you're doing it right, but iOS 14 changed something, so something may need to be changed in this plugin as well.

[2020-09-25 20:31] leganz commented on #61
Thx for the quick respond! I think it might not be a problem in your wonderful package.
I found serveral entries with the same issue.
eg. https://developer.apple.com/forums/thread/123483

[2020-09-29 14:54] #61 closed, assigned to nobody

[2020-10-15 08:38] #19 closed, assigned to nobody

[2020-10-20 09:07] cristiandaulisio commented on #55
I realy need this, someone can help me?

[2020-10-20 12:26] demetrius-tech commented on #55
@Atomico001: I would like to help you but I can't find time. As I mentioned before I created a library in ObjectiveC and imported it to the plug-in. But I am not sure it is the best way, so I am looking for a better way to do this, may be a POD or something. I will try to allocate some time to this soon, will let you know.

[2020-10-20 14:32] cristiandaulisio commented on #55
@demetrius-tech nice to see you again. If you can do a working simple demo with your fork i can investigate it and try myself. Unlucky i receive many error when i tried to import your fork.

Thanks very much!

[2020-11-13 17:02] demetrius-tech commented on #22
@EddyVerbruggen: I have implemented this and is ready for PR, but it depends on another PR #64 which is pending review.

Check here: https://github.com/demetrius-tech/nativescript-nfc/tree/lock-tag/src ( lockTag method )

[2020-11-13 17:04] demetrius-tech opened #65 "Angular Demo"
I have this ready for PR: https://github.com/demetrius-tech/nativescript-nfc/tree/demo-ng/demo-ng

[2020-12-28 15:39] PaulHieltjesCortegs commented on #55
So I tried the same thing as you and was also stuck on the issue that identifier is always null. Then I read this and thanks to your code got it working. Thank you very much!!!
Your typescript code did generate runtime errors on my device though so I ended up using my own code but with your iOS native code package.
Again, can't thank you enough for sharing your code here :)

[2021-01-08 16:16] demetrius-tech opened #66 "NFCNDEFTag.prototype.queryNDEFStatusWithCompletionHandler is undefined"
Need help please.

I am trying to call the NFCNDEFTag.prototype.queryNDEFStatusWithCompletionHandler method but it is always undefined. Same issue for similar methods which are called from a prototype.

NativeScript Version: 7 (it worked in NS 6.x, the issue appeared after upgrade)
Platform: iOS

[code]

Error:

***** Fatal JavaScript exception - application has been terminated. *****
NativeScript

[2021-01-08 16:22] demetrius-tech opened #67 "readerSessionDidDetectNDEFs is not being called"
When scanning a tag (NTAG216) only readerSessionDidDetectTags is being called, but not readerSessionDidDetectNDEFs

NativeScript Version: 7 (it worked in NS 6.x, issue appeared after upgrade)
Platform: iOS

[2021-02-03 08:39] marcozanaboni opened #68 "Supported ISO communication standards"
Hi, which ISO communication standard does this plugin support?

Thanks in advance

[2021-02-07 15:52] demetrius-tech commented on #67
According to Apple documentation, if readerSessionDidDetectTags is defined, then readerSessionDidDetectNDEFs is not called.

See here: https://developer.apple.com/documentation/corenfc/nfcndefreadersessiondelegate/2875568-readersession?language=objc

"Important: The reader session doesn’t call this method when the delegate provides the readerSession:didDetectTags: method."

So, in order to make th

[2021-03-01 04:43] dbharambe opened #69 "NativeScript -NFC"

[2021-03-01 04:48] dbharambe commented on #69
Hi,

I downloaded the sample code provided. I run into following when I run the preview on Andriod.

ERROR in ./app.ts
Module not found: Error: Can't resolve 'C:/workspace2/NativeApp-NFC/OnlineProj/nativescript-nfc-master/demo/node_modules/nativescript-nfc/nfc-activity.js' in 'C:\workspace2\NativeApp-NFC\OnlineProj\nativescript-nfc-master\demo\app'
 @ ./app.ts 6:0-124

I have android 11 and NFC is

[2021-04-11 18:50] luffa99 opened #70 "Callback not executed on iOS 14 and NS 8"
Problem: when a NDEF tag is read the callback function set with `nfc.setOnNdefDiscoveredListener` is not called
Expected behaviour: the callback function is called after a tag is read
Platform: not working with nativescript 8 on iOS 14 (not tested with other versions). On Android with nativescript 8 works fine.

I've tried to investigate deeper in the library and discovered the critical point: at

[2021-04-18 14:49] luffa99 commented on #70
I've fixed by using
`Utils.executeOnMainThread`

So I've changed these lines (in _Nfc.prototype.setOnNdefDiscoveredListener_ )
[code]
with
[code]
Note that you need first to import Utils from nativescript core.
Note also that you need to comment out entirely `NFCNDEFReaderSessionDelegateImpl.prototype.readerSessionDidDetectTags`
as described in #67

[2021-05-10 12:01] cloudhx commented on #66
Hello @demetrius-tech, I'm running into the same problem and would like to know if you have made any progress on it, thank you very much!

[2021-06-21 17:51] AchrafBardan opened #72 "Callback not initiating on ios 14.6 with ns 8"
This is my code
[code]

When i run this the visual nfc scan view gets showen
![AADBA7B2-7310-4494-B85E-148F2413FE6F](https://user-images.githubusercontent.com/72659310/122805811-d80e3000-d2c9-11eb-9693-672f4a24399d.PNG)

But nfc cards are not being scanned this is showen in the console:
[code]

Dankje Eddy voor alle contributies die je hebt gedaan voor de NativeScript community

[2021-06-25 17:44] demetrius-tech commented on #66
Somehow it got fixed after upgrading NS to a latest version.

[2021-06-25 17:44] #66 closed, assigned to nobody

[2021-06-25 17:45] demetrius-tech commented on #66
Fixed after upgrading NS to a latest version.

[2021-06-25 17:45] #67 closed, assigned to nobody

[2021-07-09 10:40] cloudhx commented on #66
@demetrius-tech Thank you for the update, will try to do the same.

[2021-08-12 10:55] eikaramba opened #73 "Cannot find module 'webpack/lib/rules/DescriptionDataMatcherRulePlugin'"
as soon as i execute `ns plugin add nativescript-nfc` i get the error mentioned in the title when trying to run `ns run android`

my package.json looks like this:
[code]
i tried `npm install` clean again without luck. removing the plugin and running the app works again.

*update*: I was able to fix it by executing `npm install vue-loader`
Thus i am proposing to add this package as a dependecy to t

[2021-08-12 10:56] eikaramba opened #74 "does not work with svelte native"
it seems the plugin does not work with svelte native. i tried to install it (see https://github.com/EddyVerbruggen/nativescript-nfc/issues/73) but after beeing able to compile it does not find my /views/xxxx.svelte files anymore.
[code]

[2021-08-12 10:59] eikaramba commented on #74
closing it because it was my fault and had nothing to do with this plugin ;) sry

[2021-08-12 10:59] #74 closed, assigned to nobody

[2021-09-24 13:20] cloudhx commented on #66
@demetrius-tech I tried both 7 and 8, but cannot make it work, still the same error, my code is below, could you please shed some light on it? Thanks!
[code]

[2021-10-24 05:27] mastashake08 commented on #72
Same issue

[2021-11-24 00:12] BikeBr0 opened #75 "Demo App not compatible with NativeScript CLI 8.1.4 on Mac"
Steps to reproduce:

1) On a Mac, download the nativescript-nfc project as a ZIP
2) Extract contents of archive
3) From demo directory, run 'ns run ios'

Result:

The current application is not compatible with NativeScript CLI 8.1.4.

Run 'ns migrate' to migrate your project to the latest NativeScript version.

Alternatively you may try running it with '--force' to skip this check.

[2021-11-24 00:40] BikeBr0 opened #76 "Reading NfcNdefData on iOS throws Exception"
Steps to reproduce:

1. On a Mac using NativeScript CLI 8.1.4 create a new Hello World Angular project
2. Add app.entitlements and NFCReaderUsageDescription as instructed
3. Add the nativescript-nfc plugin
4. Place the following code into ngOnInit in item-detail.component.ts:

`

    let nfc = new Nfc();
    nfc.available().then(avail => {
      console.log(avail ? "NFC is enabled" : "NFC is disab

[2021-12-03 19:24] timh5 opened #77 "Bounty for write function in IOS"
Hi Eddy, thank you so much for this amazing library!
What will it take to get iOS write working? It is a technological barrier with the software, or is it possible with some extra work?

I am interested in hiring you or someone to build this, or hire for consulting so you can direct us how to do this?
What do you think? @EddyVerbruggen

[2021-12-03 19:48] demetrius-tech commented on #77
@timh5 check #52

[2021-12-04 05:20] timh5 commented on #77
@demetrius-tech amazing! Thanks.

[2021-12-04 05:20] #77 closed, assigned to nobody

[2021-12-04 06:01] timh5 commented on #52
@demetrius-tech  - what is the status of this feature? it seems that we'll have to add some obj-c code to make it work?
Is that the latest development? Can I hire you to consult on some realtime questions as we try to impliment this?
Please email me your skype or google/chat info. timhon@gmail.com

[2021-12-04 07:54] demetrius-tech commented on #52
@timh5 it was working in the past, with version 7. Let me check if I committed the code in my repo and I will support you for free, as I don't have much time for other projects.

[2021-12-07 00:38] b8ne commented on #72
Has anyone got a solution for this yet?

[2021-12-07 02:21] b8ne commented on #70
@luffa99 Are you able to post exactly how you did this? Was it directly in node_modules or did you pull the files out.
I've applied this under node_modules, but getting Nfc is not a constructor errors now, Im assuming from the Utils import.

[2021-12-09 23:44] mastashake08 commented on #72
Nope and I need one
*Jyrone Parker*
*Technical Consultant, *Technopreneur

*Never Let Limited Minds Limit Your Success*
*https://www.jyroneparker.com <http://www.jyroneparker.com> |
https://youtube.com/c/jyroneparker <https://youtube.com/c/jyroneparker>*
Twitter: @mastashake08

On Mon, Dec 6, 2021 at 7:39 PM Ben Sutter ***@***.***> wrote:

[2022-05-24 22:17] BenShelton commented on #70
It looks like a PR was opened to fix this but was eventually closed: https://github.com/EddyVerbruggen/nativescript-nfc/pull/71

I'm using `patch-package` to fix this locally, see [here](https://github.com/ds300/patch-package#readme) for installation instructions, and then you can add the following patch file in `patches/nativescript-nfc+5.0.0.patch`:

[code]

[2022-05-24 22:18] BenShelton commented on #72
This looks to be a duplicate of #70, solutions are there

[2022-11-06 06:02] LaKing opened #78 "Crashing due to PendingIntent flag"
It appears to me the the nfc code is causing this:

[code]

Anyone have a fix for this?

[2022-11-06 06:50] LaKing commented on #78
The related code is in nfc.android.js line 369, in getActivity's last argument.

[FLAG_IMMUTABLE](https://developer.android.com/reference/android/app/PendingIntent#FLAG_IMMUTABLE
)

Constant Value: 67108864

Setting that value seems to resolve the issue.